.heroImage {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    inset: 0px;
}

.overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background-image: linear-gradient(-90deg, hsla(0, 0%, 100%, 0), #f7faff 50%);
}